.cart {
    position: fixed;
    top: 1em;
    right: 7.5em;
    z-index: 1;
}

.cart__btn{
    width:5.5em;
    height: 3em;
    background-image: url(../../img/cart.svg);
    border-radius: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    outline: none;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}

.cart__counter {
margin: 1.8em 0 0 4.4em;
}
.cart__btn:hover {
    opacity: 0.8;
}

